.navContainer{
    height: 50px;
    width: 100%;
    background-color: hsla(215, 96%, 41%, 1);
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.links{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.companyHeader{
    margin-left: 20px;
    color: white;
    font-size: 25px;
    font-weight: 550;
    transition: 0.2s linear;
    text-decoration: none;
    border-bottom: 1px solid rgba(6, 50, 111, 0);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid rgba(6, 50, 111, 0);
}

.profile{
    width: 10%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-right: 20px;
}

.profile > img{
    transition: 0.3s ease-out;
    border-radius: 50px;
}

.profile > img:hover{
    transform: scale(1.2);
}

.rightSideNav{
    width: 12%;
    display: flex;
    justify-content: space-between;
}

.smallMenu{
    width: 200px;
    margin: auto 0;
}